In [ ]:
!pip install pandas 
!pip install numpy

In [1]:
import pandas as pd
import numpy as np

In [3]:
data1 = pd.read_csv("All_Seasson_Basics_Spring2021.csv")

In [4]:
data2 = pd.read_csv("Basics_SS_Spring2021.csv")

In [5]:
data3 = pd.read_csv("Basics_FW_Spring2021.csv")

In [6]:
df_allSeasson = pd.DataFrame(data1)
df_SS = pd.DataFrame(data2)
df_FW = pd.DataFrame(data3)

In [ ]:
df_allSeasson.describe()

In [ ]:
df_SS.describe()

In [ ]:
df_FW.describe()

In [ ]:
df_FW.columns

In [ ]:
df_FW = df_FW.rename(columns = {"Sales (gross)" : "Sales", "Variant" : "Sizes" })

In [ ]:
df_FW_grouped = df_FW.groupby("Product").sum("Sales").sort_values(by=["Sales"], ascending=False)
df_FW_grouped.describe()

In [ ]:
df_FW_grouped.head(15)

In [ ]:
df_SS = df_SS.rename(columns = {"Sales (gross)" : "Sales", "Variant" : "Sizes" })
df_SS_grouped = df_SS.groupby("Product").sum("Sales").sort_values(by=["Sales"], ascending=False)
df_SS_grouped.describe()

In [ ]:

df_SS_grouped.head(15)

In [ ]:
df_allSeasson = df_allSeasson.rename(columns = {"Sales (gross)" : "Sales", "Variant" : "Sizes" })
df_allSeasson_grouped = df_allSeasson.groupby("Product").sum("Sales").sort_values(by=["Sales"], ascending=False)
df_allSeasson_grouped.describe()

In [ ]:
df_allSeasson_grouped.head(15)

In [ ]:
df_allSeasson_grouped.sort_values(by = ["Sales"], ascending = False).head(15)

In [ ]:
df_SS_grouped.sort_values(by = ["Refunds"], ascending = False).head(15)

In [ ]:
df_FW_grouped.sort_values(by = ["Refunds"], ascending = False).head(15)

In [9]:
df_SS = df_SS.rename(columns = {"Sales (gross)" : "Sales", "Variant" : "Sizes"})

In [10]:
df_SS.columns

Index(['Vendor', 'Product', 'Sizes', 'SKU', 'Product Type', 'Price', 'Stock',
       'Sales', 'Refunds'],
      dtype='object')

In [11]:
df_SS = df_SS[["Product", "Sizes", "Stock", "Sales"]]

In [15]:
df_SS.groupby("Product").sum("Sales").sort_values(by = ["Sales"], ascending = False).head(20)

                                 Stock  Sales
Product
Riley Capri, Black, Bamboo        2627    772
Jazz Tank, Winter White, Bamboo    369    426
Tessa Tee, Black, Bamboo           501    354
Riley Capri, Indigo, Bamboo        913    319
Gaylene Capri, Black, Bamboo       710    296
Susan Capri, Black, Bamboo         455    276
Magna Skort, Black, Bamboo         702    251
Melly Skort, Indigo, Bamboo        747    235
Tessa Tee, Winter White, Bamboo    551    224
Riley Capri, Graphite, Bamboo      713    207
Riley Capri, White, Bamboo         652    192
Riley Capri, Khaki, Bamboo         748    187
Melly Skort, Black, Bamboo         339    178
Nelly S/S Dress, Indigo, Bamboo    553    165
Leslie Shorts, Black, Bamboo       482    164
Tessa Tee, Violet, Bamboo          567    160
Tessa Tee, Indigo, Bamboo          343    157
Spirit Dress, Black, Bamboo        292    132
Yoga Capri, Black, Bamboo          439    116
Tessa Tee, Lipstick, Bamboo        416    115

In [18]:
data = pd.read_csv("Basics_SS_Winter2020-2021.csv")

In [19]:
df_SS_Winter = pd.DataFrame(data)

In [22]:
df_SS_Winter = df_SS_Winter.rename(columns = {"Sales (gross)" : "Sales", "Variant" : "Sizes"})
df_SS_Winter = df_SS_Winter[["Product", "Sizes", "Stock", "Sales"]]

In [23]:
df_SS_Winter.groupby("Product").sum("Sales").sort_values(by = ["Sales"], ascending = False).head(20)

                                         Stock  Sales
Product
Riley Capri, Black, Bamboo                2627    132
Margorie Top, Black, Bamboo                 64     56
Riley Capri, Graphite, Bamboo              713     55
Riley Capri, Indigo, Bamboo                913     53
Gaylene Capri, Black, Bamboo               710     43
Nelly S/S Dress, Indigo, Bamboo            553     37
Tessa Tee, Black, Bamboo                   501     36
Magna Skort, Black, Bamboo                 702     32
Tessa Tee, Lipstick, Bamboo                416     31
Tessa Tee, Indigo, Bamboo                  343     25
Landon Pant, Black, Linen Bamboo           387     25
Susan Capri, Black, Bamboo                 455     24
Yoga Capri, Black, Bamboo                  439     24
Lanai Dress, Black, Bamboo                 408     23
Lanai Short Sleeve Dress, Black, Bamboo    397     23
Spirit Dress, Lipstick, Bamboo              45     22
Spirit Dress, Charcoal, Bamboo             138     22
Tessa Tee, Winter White, Bamboo            551     22
Riley Capri, Khaki, Bamboo                 748     21
Leslie Shorts, Black, Bamboo               482     21

In [24]:
df_SS_Winter.to_csv("Spring_Basics_In_Winter.csv")

In [25]:
df_SS.to_csv("Spring_Basics_In_Spring.csv")